<table id="<%= dom_id book %>">
  <tr>
    <td><strong>1.</strong></td>
    <td><strong>Name:</strong></td>
    <td><%= book.name %></td>
  </tr>

  <tr>
    <td><strong>2.</strong></td>
    <td><strong>Category:</strong></td>
    <td><%= book.category %></td>
  </tr>

  <tr>
    <td><strong>3.</strong></td>
    <td><strong>Price:</strong></td>
    <td><%= book.price %></td>
  </tr>

  <tr>
    <td><strong>4.</strong></td>
    <td><strong>Isbn:</strong></td>
    <td><%= book.isbn %></td>
  </tr>
</table>
